In [7]:
class vehicle:
    def __init__(self,engine,regplate,price,colour):
        self.engine=engine
        self.regplate=regplate
        self.price=price
        self.colour=colour
    
class car(vehicle):
     def __init__(self,engine,regplate,price,colour,Type,passengers,speed):
         self.Type=Type
         self.passengers=passengers
         self.speed=speed
         super().__init__(engine,regplate,price,colour)
class truck(vehicle):
     def __init__(self,engine,regplate,price,colour,axle,capacity):
         self.axle=axle
         self.capacity=capacity
         super().__init__(engine,regplate,price,colour)
c=car("1000cc","ka34567",100000,"red","topend",7,200)
t=truck("910cc","ka34768",10000000,"white",12,"10000")
print("car have",c.engine,c.regplate,c.price,c.colour,c.Type,c.passengers,c.speed)
print("truck have",t.engine,t.regplate,t.price,t.colour,t.axle,t.capacity)

car have 1000cc ka34567 100000 red topend 7 200
truck have 910cc ka34768 10000000 white 12 10000

In [10]:
class employee:
    def __init__(self,eid,ename,esalary):
        self.eid=eid
        self.ename=ename
        self.esalary=esalary
class staff(employee):
    def __init__(self,eid,ename,esalary,work_type,work_area):
         self.work_type=work_type
         self.work_area=work_area
         super().__init__(eid,ename,esalary)
class developer(employee):
    def __init__(self,eid,ename,esalary,module,tech,expirence):
         self.module=module
         self.tech=tech
         self.expirence=expirence
         super().__init__(eid,ename,esalary)
class manager(employee):
     def __init__(self,eid,ename,esalary,project,client_name):
         self.project=project
         self.client_name=client_name
         super().__init__(eid,ename,esalary)
s=staff(420,"xyz1",100000,"frontend","1st cross")
d=developer(421,"xyz2",10000000,"frontend","java","10years")
m=manager(422,"veerendra",10000000,"airway","vidyavathi")
print("staff is",s.eid,s.ename,s.esalary,s.work_type,s.work_area)
print("developer is",d.eid,d.ename,d.esalary,d.module,d.tech,d.expirence)
print("manager is",m.eid,m.ename,m.esalary,m.project,m.client_name)

staff is 420 xyz1 100000 frontend 1st cross
developer is 421 xyz2 10000000 frontend java 10years
manager is 422 veerendra 10000000 airway vidyavathi

In [15]:
x=int(input("enter the number"))
for i in range(x):
          print(" *"*i)

enter the number 5

 *
 * *
 * * *
 * * * *

In [34]:
for i in range(0,5):
    for j in range(0,i):
        if(i+j)%2==0:
            print('0 ',end='')
        else:
            print('1 ',end='')
    print()

1
0 1
1 0 1
0 1 0 1

In [ ]:
l=[1,2,3,4,5]