In [1]:
a=3
print(a)
print(type(a))

3
<class 'int'>

In [3]:
a=5.555
print(a)
print(type(a))

5.555
<class 'float'>

In [4]:
a="ver"
print(a)
print(type(a))

ver
<class 'str'>

In [5]:
a='c'
print(a)
print(type(a))

c
<class 'str'>

In [6]:
a=(2,3) 
print(a)
print(type(a))

(2, 3)
<class 'tuple'>

In [8]:
a={2:'dfdf',3:'ww'}
print(a)
print(type(a))

{2: 'dfdf', 3: 'ww'}
<class 'dict'>

In [25]:
a,b=input("enter two num:").split()
c=int(a)+int(b)
print('add',c)
d=int(a)-int(b)
print('sub',d)
e=int(a)*int(b)
print('mul',e)
f=int(a)%int(b)
print('mod',f)
g=int(a)/int(b)
print('div',g)

enter two num: 2 3

add 5
sub -1
mul 6
mod 2
div 0.6666666666666666

In [8]:
name=input("enter name:")
age=int(input("enter age:"))

if age>=18:
     print(name)
     print("u are elegible")
else:
        print(name)
        print("u are not elegible")

enter name: veer
enter age: 2

veer
u are not elegible

In [ ]:
a=int(input())
b=int(input())
c=int(input())

if a>b:
   if a>c:
       {
    print("a is largest")
       }
   else:
       print("c is largest")
else:
     if b>c:
       print("b is largest")
     else:
       print("c is largest")

In [15]:
marks=int(input("enter your marks:"))
if marks>=90 and marks<=100:
    print("grade=A+")
else:
    if marks>80 and marks<90:
        print("grade=A")
    else:
         if marks>70 and marks<80:
            print("grade=B+")
         else:
               if marks>60 and marks<70:
                    print("grade=B")
               else:
                         if marks>50 and marks<60:
                           print("grade=C+")
                         else:
                                  if marks>40 and marks<50:
                                    print("grade=D")
                                  else:
                                            if marks>30 and marks<40:
                                               print("grade=E")
                                            else:
                                                print("fail")

enter your marks: 12

fail

In [17]:
marks=int(input("enter your marks:"))
if marks>=90 and marks<=100:
    print("grade=A+")
elif marks>=80 and marks<=90:
    print("grade=A")
elif marks>=80 and marks<=90:
    print("grade=B+")

enter your marks: 91

grade=A+

In [28]:
day=int(input("enter th day num"))
match day:
 case 1:print("sun")
 case 2:print("mon")
 case 3:print("tue")
 case 4:print("wed")
 case 5:print("thur")
 case 6:print("fri")
 case 7:print("sat")
 case _if day==10:
    print("ten")

SyntaxError: invalid syntax (2869230202.py, line 10)

In [30]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *

In [1]:
for i in range(10):
          print(" *"*i)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *

In [9]:
n=int(input("enter num"))
a=0
b=1
print(a,b,end=" ")
for x in range(0,n-2):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

enter num 5

0 1 1 2 3

a=[1,2,3,4,5,6]
for x in a:
    print(x)

In [11]:
a=[1,2,3,4,5,6,7]
for x in range(0,7):
    print(a[x])

1
2
3
4
5
6
7

pop to pull out the element
sort use to sort th list
append object to the end of the list
extend the list by appending the elements
index will return of the idec]x from the menu
count return the occurance of object
insert object before index

In [35]:
a=[1,2,3,4,5,6]
b=a.copy()
print(b)
c=b.pop(3)
print(c)
c=b.pop(3)
print(b)
b.append(10)
print(b)
print(b.index(3))
print(b.count(3))
b.append(1)
print(b)
print(b.count(1))
b.sort
print(b)
b.sort(reverse=True)
print(b)
b.extend(a)
print(b)

[1, 2, 3, 4, 5, 6]
4
[1, 2, 3, 6]
[1, 2, 3, 6, 10]
2
1
[1, 2, 3, 6, 10, 1]
2
[1, 2, 3, 6, 10, 1]
[10, 6, 3, 2, 1, 1]
[10, 6, 3, 2, 1, 1, 1, 2, 3, 4, 5, 6]

In [44]:
l=[item for item in (input("enter elem in list:").split())]
print(l)

enter elem in list: 1 2 3

['1', '2', '3']

In [63]:
l=[1,2,3,4,5]
for x in range(-1,-1*(len(l)+1),-1):
    print(l[x])

5
4
3
2
1

write aprogram  key and value and add in to the dictoanry if key is not present in dictionary otherwise print key already exist and also print print its corresponding value

In [62]:
d={1:"veer",2:"sed"}
print(d.values())
print(d.get(3))

dict_values(['veer', 'sed'])
None

In [1]:
a=[input().split()]
b=[input().split()]
try:
    c=a/b                        
except:
    print("zero errror")
finally:
    print("error handeled")

 12
 1

zero errror
error handeled

In [10]:
l=[1,2,3,4,5,6,7]
i=int(input("enter key"))
try:
    print(l[i])
except:
    print("it cannot be handled")

enter key 1

2

In [11]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
except valueerror:
    print("value error")
except zerodivisonerror:
    print("cannot divide by zero")
except:
    print("some unknown eroor found")
else:
    print("no error")
finally:
    print("code done")

 1
 2

no error
code done

1.write a python program to find sum of all the elements in the list and enter the case with non numeric
2.create  a dictonary with student name and

In [17]:
l=[1,2,3,4,5,6,"veer","swam"]
try:
    print(int(sum(l)))
except:
    print("non

non numeric

In [8]:
#palindrome
n=int(input())
m=n
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n/10
if m==rev:
    print("palindrome")
else:
    print("not palindrome")

 121

not palindrome

In [55]:
#prime
x=int(input())
for i in range(2,int(x/2)):
    if x % i == 0:
        prime = False
        print("not prime")
        break
else:
     print("prime")

 9

not prime

In [56]:
a=[3,1,4,2,5]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
print(a)

[1, 2, 3, 4, 5]

In [8]:
import os
ifmname__=='__main__':
    filename ="example.txt"
    new_filename="new_example.txt"
    create_file(filename)
    read_file(filename,"this is some additional text.\n")

SyntaxError: invalid syntax (2795842332.py, line 2)

In [5]:
import os
with open("file1.txt",'r')as f:
    for a in f.read().split("\n"):
        print(a)
        print("233")
    f.close()

233

In [23]:
import os
with open("file2.txt", 'w') as f:
    f.write("hello")
    f.close()
with open("file2.txt",'a') as f:
    f.write("file is appending")   
    f.close()